html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

button{
    margin: 0;
    border: none; 
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: block;
    font-size: 16px;
    line-height: 19px;
    width: 270px;
    height: 50px;
    background: #FFCF26;
    border-radius: 4px;
    cursor: pointer;
}

.btn.close{
    position: relative;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    color: #3C3C3C;
    margin-top: 10px;
}

.btn.close::before{
    content: url('../images/close.svg');
    position: absolute;
    top: 14px;
    left: 48px;
}

.btn-inner{
    position: absolute;
    top: 16px;
    left: 78px;
}

.btn.plus{
    grid-column: 1 / 4;
    width: 100%;
    height: 80px;
    color: #4290C9;
    font-size: 18px;
    line-height: 21px;
    background: #E5E5E5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.plus:hover{
    text-decoration: underline;
}

.btn.plus img{
    margin-right: 10px;
}

.catalog{
    margin-top: 60px;
}

.catalog__wrapper{
    display: flex;
    justify-content: space-between;
}

.catalog__body{
    display: grid;
    grid-template-rows: 334px 334px 334px 334px;
    grid-template-columns: 270px 270px 270px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.catalog__body-item-hidd{
    display: none;
}

.catalog__body-item-hidd.show{
    display: block;
}

.catalog__img-box{
    width: 270px;
    height: 200px;
    background-image: url('../images/home-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.catalog__descr-one,
.catalog__descr-two{
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
}

.catalog__descr-one{
    background-color: #FFCF26;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.catalog__descr-two{
    background-color: #11BE75;
    color: #fff;
}

.catalog__descr-two{
    display: inline-block;
}

.catalog__item-text-box{
    margin-left: 15px;
}

.catalog__item-title{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.catalog__item-text{
    margin-bottom: 10px;
}

.catalog__item-metro{
    position: relative;
    margin-left: 26px;
    margin-bottom: 10px;
}

.catalog__item-metro::before{
    content: url('../images/icon.svg');
    position: absolute;
    left: -26px;
}

.catalog__item-street{
    color: #777777;
    margin-bottom: 20px;
}

.catalog__form{
    max-width: 271px;
}

.catalog__form-title-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 270px;
}

.catalog__form-img-one,
.catalog__form-img-two,
.catalog__form-img-three {
    cursor: pointer;
}

.catalog__form-img-one.hidd,
.catalog__form-img-two.hidd,
.catalog__form-img-three.hidd{
    transform: rotate(180deg);
}

.catalog__form-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.catalog__form-proximity-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100px;
    border: 1px solid #D6D6D6;
    margin-bottom: 30px;
    color: #3C3C3C;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.catalog__form-proximity-wrapper.hidd{
    display: none;
}

.catalog__form-proximity{
    padding: 17px 19px;
    margin: 0 -3px;
}

.catalog__form-proximity:first-child{
    border-radius: 4px 0 0 0;
}

.catalog__form-proximity:last-child{
    border-radius: 0 4px 0 0;
    padding-right: 20px;
}

.catalog__form-proximity.active{
    background-color: #FFCF26;
}

.catalog__form-proximity.special{
    border-top: 1px solid #D6D6D6;
    padding: 15px 112px 16px 112px;
    border-radius: 0 0 4px 4px;
}

.catalog__form-proximity.special.active{
    background-color: #FFCF26;
}

.catalog__form-proximity{
    display: inline-block;
}

.catalog__radio-wrapper{
    margin-bottom: 30px;
}

.catalog__form-radio{
    display: flex;
    align-items: center ;
    color: #3C3C3C;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    cursor: pointer;
}

.catalog__form-radio-box.hidd{
    display: none;
}

.catalog__form-circle{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #777777;
    margin-right: 10px;
}

.catalog__form-radio-text{
    display: inline-block;
}

.catalog__form-radio-text.active {
    font-weight: 500;
}

.catalog__form-circle.active{
    background-color: #FFE074;
}

.catalog__form-circle.active::before{
    content: '';
    position: absolute;
    background-color: #3C3C3C;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.catalog__form-addoption{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.catalog__form-addoption-box{
    margin-bottom: 30px;
}

.catalog__form-addoption-box.hidd{
    display: none;
}

.catalog__form-addoption-square{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #777777;
    border-radius: 2px;
    margin-right: 10px;
}

.catalog__form-addoption-square.active{
    background-color: #FFE074;
}

.catalog__form-addoption-square.active::before{
    content: url('../images/jackdaw.svg');
    position: absolute;
    left: 2px;
}

.catalog__form-addoption-text.active{
    font-weight: 500;
}

.catalog__form-more{
    display: inline;
    color: #4290C9;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.catalog__form-more.active{
    display: none;
}

.catalog__form-more:hover{
    text-decoration: underline;
}

.catalog__form-hidden-item{
    display: none;
}

.catalog__form-hidden-item.active{
    display: block;
}

.catalog__services{
    width: 125px;
    margin-bottom: 30px;
}

.switcher{
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.switcher input {
    display: none;
}

.switcher-button{
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFE074;
    margin-right: 10px;
}

.switcher-button::before,
.switcher-button.no-active::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: #3C3C3C;
}

.switcher-button::before{
    top: 2px;
    right: 2px;
}

.switcher-button.no-active{
    background-color: #3C3C3C;
}

.switcher-button.no-active::before{
    background-color: #fff;
    top: 2px;
    left: 2px;
}

