html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.container {
    padding: 0 15px;
    max-width: 1630px;
    margin:0 auto;
}
.box{
    padding: 15px 30px;
}
.group-title{
    margin-bottom: 10px;
    cursor: pointer;
    max-width: 65px;
}
.subjects-title{
    margin-bottom: 5px;
    cursor: pointer;
}
.group-title:hover,
.subjects-title:hover{
    text-decoration: underline;
    color: #3AAA12;
}
#subjects-list-content{
    display: none;
}
.group-item.active #subjects-list-content{
    display: block;
}
#table-wrapper{
    display: none;
}
.subjects-item.active #table-wrapper {
    display: block;
}
.attendance-table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.attendance-table td,
.attendance-table th{
    border: 1px solid #000;
}
.attendance-table td + td {
    text-align: center;
}
.attendance-table th{
    background-color: #BC840B;
}
@media (max-width: 1600px) {
    ul,li{
        margin-left: 10px;
        padding: 0;
    }
    .box{
        padding: 5px 5px;
    }
    body{
        font-size: 11px;
    }
}

@media (max-width: 1200px) {
    body{
        font-size: 26px;
    }
    .attendance-table thead {
        display: none;
    }
    .attendance-table tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e8e9eb;
    }
    .attendance-table td {
        display: block;
        text-align: center;
    }
    .attendance-table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
    .group-title{
        max-width: 100%;
    }
}